asttokens==2.0.5
backcall==0.2.0
click==8.1.2
cloudpickle==2.0.0
cycler==0.11.0
dask==2021.6.0
decorator==5.1.1
dtw==1.4.0
executing==0.8.3
Flask==2.1.1
fsspec==2022.3.0
h5py==3.2.1
importlib-metadata==4.11.3
ipython==8.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.1
joblib==1.0.1
kiwisolver==1.4.2
llvmlite==0.38.0
locket==0.2.1
MarkupSafe==2.1.1
matplotlib==3.4.2
matplotlib-inline==0.1.3
matrixprofile==1.1.10
# Editable Git install with no remote (modules==1.0)
-e /home/akalimeris/more_api
numba==0.55.1
numpy==1.20.1
pandas==1.3.3
parso==0.8.3
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
prompt-toolkit==3.0.29
protobuf==3.11.2
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.11.2
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
scikit-learn==1.0.2
scipy==1.6.3
seaborn==0.11.1
six==1.16.0
stack-data==0.2.0
stumpy==1.8.0
threadpoolctl==3.1.0
toolz==0.11.2
tqdm==4.60.0
traitlets==5.1.1
wcwidth==0.2.5
Werkzeug==2.1.1
zipp==3.8.0
